.jr-flag{display: inline-block; background:url(../images/flag/allbgss.png) no-repeat;width:30px; height: 30px; background-size:cover; }
.c_saudi_arabia{background-position: 0px 0px;}
.c_russia{background-position: -30px 0px;}
.c_portugal{background-position: -60px 0px;}
.c_south_africa{background-position: -90px 0px;}
.c_slovak{background-position: -120px 0px;}
.c_singapore{background-position: -150px 0px;}
.c_mexicanos{background-position: -180px 0px;}
.c_libya{background-position: -210px 0px;}
.c_kuwait{background-position: -240px 0px;}
.c_oecd{background-position: -270px 0px;}
.c_norwegian{background-position: -300px 0px;}
.c_new_zealand{background-position: -330px 0px;}
.c_ukraine{background-position: -360px 0px;}
.c_uk{background-position: -390px 0px;}
.c_turkey{background-position: -420px 0px;}
.c_vietnam{background-position: -450px 0px;}
.c_venezuela{background-position: -480px 0px;}
.c_usa{background-position: -510px 0px;}
.c_switzerland{background-position: -540px 0px;}
.c_sweden{background-position: -570px 0px;}
.c_spain{background-position: -600px 0px;}
.c_thailand{background-position: -630px 0px;}
.c_taiwan{background-position: -660px 0px;}
.c_syrian{background-position: -690px 0px;}
.c_korea_south{background-position: -720px 0px;}
.c_danmark{background-position: -750px 0px;}
.c_china{background-position: -780px 0px;}
.c_chile{background-position: -810px 0px;}
.c_france{background-position: -840px 0px;}
.c_european_union{background-position: -870px 0px;}
.c_doller{background-position: -900px 0px;}
.c_austria{background-position: -930px 0px;}
.c_australia{background-position: -960px 0px;}
.c_angola{background-position: -990px 0px;}
.c_canada{background-position: -1020px 0px;}
.c_brazil{background-position: -1050px 0px;}
.c_belgium{background-position: -1080px 0px;}
.c_irish{background-position: -1110px 0px;}
.c_iraq{background-position: -1140px 0px;}
.c_iran{background-position: -1170px 0px;}
.c_japan{background-position: -1200px 0px;}
.c_italy{background-position: -1230px 0px;}
.c_israel{background-position: -1260px 0px;}
.c_hong_kong{background-position: -1290px 0px;}
.c_greece{background-position: -1320px 0px;}
.c_germany{background-position: -1350px 0px;}
.c_indonesia{background-position: -1380px 0px;}
.c_indea{background-position: -1410px 0px;}
.c_iceland{background-position: -1440px 0px;}